.container {
  max-width: 375px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(231, 231, 222, 0.5);
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.card {
  border: none;
  text-align: center;
  background-color: transparent;
}

.card-body {
  padding: 5px;
  color: #6c757d;
}

.search-city {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  color: #6c757d;
}
.search-box {
  padding-left: 10px;
  padding-right: 0px;
  max-width: 280px;
}
.btn {
  min-width: 15px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.search-icon {
  padding-right: 5px;
  padding-left: 5px;
}

.current-location {
  padding-right: 5px;
  padding-left: 5px;
}

.fa-search .fa-location-arrow {
  color: #6c757d;
}

.form-control {
  background-color: transparent;
  border-color: #6c757d;
}

::placeholder {
  color: #6c757d;
}

.current-city {
  font-size: 25px;
  padding-bottom: 5px;
  color: #6c757d;
}

.current-day-time {
  padding-bottom: 10px;
  color: #6c757d;
}

h1 {
  font-size: 60px;
  margin-bottom: 0px !important;
}

#weather-description {
  text-transform: capitalize;
}

a {
  color: #6c757d;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a.active {
  font-weight: bold;
  text-decoration: none;
  color: #6c757d;
}
.temperature-type {
  max-width: 20px;
}

.weather-conditions p {
  text-align: left;
  padding: 5px;
}

.weather-today {
  padding-bottom: 20px;
}

.mainImage {
  padding-bottom: 20px;
  min-height: 200px;
  max-height: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.forecast {
  max-width: 100px;
  padding-bottom: 20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 30px;
}
.forecast p {
  font-size: 13px;
}

p {
  margin-bottom: 0px !important;
}

.forecast .fas {
  padding-bottom: 10px;
}
.footnote {
  text-align: center;
  padding-bottom: 5px;
  font-size: 12px;
}
